body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    margin: 0; /* Adicionei esta linha para remover a margem padrão */
}

.chat-container {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Adicionei esta linha para garantir que os elementos internos sejam dispostos em coluna */
}

.chat-header {
    background-color:rgb(124 0 255);;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.chat-messages {
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    flex-grow: 1; /* Adicionei esta linha para permitir que a área de mensagens cresça e ocupe o espaço disponível */
}

.chat-input {
    display: flex;
    padding: 10px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.chat-input button {
    padding: 10px;
    background-color: #030303;
    color: rgb(124 0 255);
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
